.list-component{
    flex: 0 0 50%;
    h2{
        background-color: #fff;
        text-align: center;
        padding: 1rem;
        border-radius: 5px;
    }
    .list-item-container {
        border: 1px solid lightgray;
        padding: 1rem;
        border-radius: 3px;
        background-color: #fff;
        margin-top: 5px;
    }
}
